<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li>
          <div class="logo-wrapper">
            <a href="#">
              <img src="Images/Wandergram-logo.png" alt="Wandergram" />
              <span class="sr-only">(current)</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="navbar-middle">
      <a class="navbar-brand upload" href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
            <% if(numberNotRead !== 0) { %>
              <span class="badge" id="notifications-count"> <%= numberNotRead %> </span>
            <% } %>
          </a>
          <% if (notifications.length > 0) { %>
            <ul class="dropdown-menu">
              <% notifications.each(function(notification, idx) { %>
                <% if (notification.get("read")) { %>
                  <li class="notification-container group" data-id="<%= notification.get("id") %>">
                <% } else { %>
                  <li class="notification-container unread group" data-id="<%= notification.get("id") %>">
                <% } %>
                  <a class="notification-link" href="#">
                    <img class="notification-image prof-img" src="<%= notification.get("user_prof_pic").url %>" alt="" />
                      <div class="notification-text">
                        <%= notification.get("body") %>
                      </div>
                    <img class="notification-image post-img" src="<%= notification.get("post_image").url %>" alt="" />
                  </a>
                </li>
                <% if(idx !== (notifications.length-1)) { %>
                <li role="separator" class="divider"></li>
                <% }%>
              <% }) %>
            </ul>
            <% } %>
        </li>
        <% if(typeof CURRENT_USER_NAME !== "undefined") { %>
          <li class="username-link"><a href="#/users/home" class="navbar-brand"><%= CURRENT_USER_NAME %></a></li>
        <% } %>
        <li class="logout-link inactive"><a href="javascript:void(0)" class="navbar-brand">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
