<% if(post.get("id") === collectionLength ) { %>
<div class="panel panel-default first-picture" id="<%= post.get("id") %>">
<% } else { %>
<div class="panel panel-default" id="<%= post.get("id") %>">
<% } %>
    <div class="panel-heading group">
      <div class="prof-pic">
          <img src="<%= post.user().get("image").url %>" alt="Profile Picture" />
      </div>
      <div class="name-location">
        <a href="#users/<%= post.user().escape("id") %>"><%= post.user().escape("username") %></a><br>
        <%= post.escape("location") %>
      </div>
      <div class="time">
        <%= post.escape("time_ago") %>
      </div>
    </div>

    <div class="image-wrapper">
      <div class="post-image" data-post-id="<%= post.get("id")%>">
        <img src="<%= post.get("image").url %>" alt="" />
      </div>
    </div>

  <div class="panel-footer">
    <div class="num-likes">
      <% if(parseInt(post.escape("num_likes")) === 1) { %>
        <%= likeString %> likes this
      <% } else if(parseInt(post.escape("num_likes")) > 1 &&
            parseInt(post.escape("num_likes")) < 5) { %>
        <%= likeString %> like this
      <% } else if(parseInt(post.escape("num_likes")) > 5) {%>
        <%= post.escape("num_likes") %> likes
      <% } %>
    </div>
    <div class="caption">
      <% if(post.escape("caption")) { %>
        <a href="#/users/<%= post.user().escape("id") %>"><%= post.user().escape("username") %></a> <%= post.escape("caption") %>
        <% }%>
    </div>
    <div class="comments-container">
    </div>
    <div class="separator long-separator">

    </div>
    <% if(post.get("id") === collectionLength ) { %>
    <div class="like-comments group first-like">
    <% } else { %>
    <div class="like-comments group">
    <% } %>
      <button class="like-button" data-post-id="<%= post.get("id") %>">
        <% if(post.isLiked()){ %>
          <div class="heart-image" style="background-image: url(Images/red-outline-heart.png)"></div>
        <% } else { %>
          <div class="heart-image" style="background-image: url(Images/grey-outline-heart.png)"></div>
        <% } %>
      </button>
      <form class="new-comment-form">
        <input type="text" class="comment-text" name="body" placeholder="Add a comment...">
      </form>
    </div>
  </div>
</div>
