<!DOCTYPE html>
<html>
<head>
  <title>Wandergram</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <% if Rails.env.production? %>
    <% api_key = "key=#{ENV['GOOGLE_MAPS']}".html_safe %>
  <% else %>
    <% api_key = '' %>
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&key=<%= api_key %>"></script>
  <script>
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%= ENV['CLOUD_NAME'] %>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
    }
    <% if current_user %>
      window.CURRENT_USER_NAME = "<%= current_user.username %>"
      window.CURRENT_USER_ID = parseInt("<%= current_user.id %>")
    <% end %>
  </script>

</head>
<body>

  <%= render "shared/errors" %>
  <%= render "shared/messages" %>
<%= yield %>

</body>
</html>
